header {
    background-color: black;
    height:50px;
    width:1000px;
}
nav {
    background-color: red;
    height:50px;
    width:1000px;

}
main {
    background-color: none;
    height:650px;
    width:1000px;
}
footer {
    background-color: gray;
    height:50px;
    width:1000px;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 30%;
        height: 75%;
        background-color: rgba(117, 104, 104, 0.418);

      }
      
}
.card:hover; {
   background-color: aliceblue 
    height:1000px;
    width:1000px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}
.container1 {
    padding: 0px;
}
